<a href="https://colab.research.google.com/github/Shawn-Lian/5291-Final-Project/blob/neural_network/neural_network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup

In [ ]:
pip install xlrd==1.2

Requirement already satisfied: xlrd==1.2 in /usr/local/lib/python3.7/dist-packages (1.2.0)

In [ ]:
import os 
os.environ['KMP_DUPLICATE_LIB_OK'] = 'TRUE'
import pandas as pd
import torch
import torch.nn as nn
import xlrd
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

## Import Data

In [ ]:
df = pd.read_excel ('default of credit card clients.xls',header = 1)

## Data Processing

### check missing values

In [ ]:
df.shape[0] - df.dropna().shape[0]

0

- No missing values

### drop some redundant attributes

In [ ]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [ ]:
df.drop(columns = ['ID'],inplace = True)

In [ ]:
df.describe()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

- History of past payment arrtibutes with negative record should be set 0, as it also means 'pay duly' according to the data description.
- Convert `SEX`, `EDUCATION` and `MARRIAGE` columns to category data, and delete invalid data.

In [ ]:
pay_cols = ['pay_0', 'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6']
pay_cols = [col.upper() for col in pay_cols]


for col in pay_cols:
    fil = (df[col] < 0)
    df.loc[fil, col] = 0

In [ ]:
drop_id_1 = (df['EDUCATION'] != 1 ) & (df['EDUCATION'] != 2 ) & (df['EDUCATION'] != 3) & (df['EDUCATION'] != 4 )
drop_id_2 = (df['MARRIAGE'] != 1 ) & (df['MARRIAGE'] != 2 ) & (df['MARRIAGE'] != 3)
keep_id = -(drop_id_1 | drop_id_2)
df = df[keep_id]

In [ ]:
df.loc[df['SEX'] == 1,'SEX'] = 'male'
df.loc[df['SEX'] == 2,'SEX'] = 'female'
df.loc[df['EDUCATION'] == 1,'EDUCATION'] = 'graduate'
df.loc[df['EDUCATION'] == 2,'EDUCATION'] = 'university'
df.loc[df['EDUCATION'] == 3,'EDUCATION'] = 'high'
df.loc[df['EDUCATION'] == 4,'EDUCATION'] = 'others'
df.loc[df['MARRIAGE'] == 1,'MARRIAGE'] = 'married'
df.loc[df['MARRIAGE'] == 2,'MARRIAGE'] = 'single'
df.loc[df['MARRIAGE'] == 3,'MARRIAGE'] = 'others'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [ ]:
df = pd.get_dummies(df)

In [ ]:
df = df.astype(float)
df = df.dropna()
scale = MinMaxScaler()
df_to_scale = df
scaled = scale.fit_transform(df_to_scale)
scaled_df = pd.DataFrame(scaled, columns=df_to_scale.columns)

## Split data

In [ ]:
test_size = round(0.2 * len(scaled_df))
train, test = train_test_split(scaled_df, test_size=test_size, random_state=0, shuffle=True)

label = 'default payment next month'

x_train, y_train = train.drop(label, axis=1), train[label]
x_test, y_test = test.drop(label, axis=1), test[label]

In [ ]:
scaled_df.columns

Index(['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5',
       'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3',
       'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default payment next month',
       'SEX_female', 'SEX_male', 'EDUCATION_graduate', 'EDUCATION_high',
       'EDUCATION_others', 'EDUCATION_university', 'MARRIAGE_married',
       'MARRIAGE_others', 'MARRIAGE_single'],
      dtype='object')

In [ ]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((23681, 29), (23681,), (5920, 29), (5920,))

## Build Models

In [ ]:
os.environ['KMP_DUPLICATE_LIB_OK'] = 'TRUE'

In [ ]:
class trainData(Dataset):
    
    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data
        
    def __getitem__(self, index):
        return self.X_data[index], self.y_data[index]
        
    def __len__ (self):
        return len(self.X_data)


train_data = trainData(torch.FloatTensor(x_train.values), 
                       torch.FloatTensor(y_train))
## test data    
class testData(Dataset):
    
    def __init__(self, X_data):
        self.X_data = X_data
        
    def __getitem__(self, index):
        return self.X_data[index]
        
    def __len__ (self):
        return len(self.X_data)
    

test_data = testData(torch.FloatTensor(x_test.values))

In [ ]:
BATCH_SIZE = 64
train_loader = DataLoader(dataset=train_data, batch_size=BATCH_SIZE, shuffle=True)
test_loader = DataLoader(dataset=test_data, batch_size=1)

In [ ]:
class binaryClassification(nn.Module):
    def __init__(self):
        super(binaryClassification, self).__init__()
        # Number of input features is 12.
        self.layer_1 = nn.Linear(29, 128) 
        self.layer_2 = nn.Linear(128, 64)
        self.layer_3 = nn.Linear(64, 64)
        self.layer_out = nn.Linear(64, 1) 
        
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(p=0.1)
        self.batchnorm1 = nn.BatchNorm1d(128)
        self.batchnorm2 = nn.BatchNorm1d(64)
        self.batchnorm3 = nn.BatchNorm1d(64)
        
    def forward(self, inputs):
        x = self.relu(self.layer_1(inputs))
        x = self.batchnorm1(x)
        x = self.relu(self.layer_2(x))
        x = self.batchnorm2(x)
        x = self.relu(self.layer_3(x))
        x = self.batchnorm3(x)
        x = self.dropout(x)
        x = self.layer_out(x)
        
        return x

In [ ]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
print(device)

cpu

In [ ]:
LEARNING_RATE = 0.001
model = binaryClassification()
model.to(device)
print(model)
criterion = nn.BCEWithLogitsLoss()
optimizer = optim.Adam(model.parameters(), lr=LEARNING_RATE)

binaryClassification(
  (layer_1): Linear(in_features=29, out_features=128, bias=True)
  (layer_2): Linear(in_features=128, out_features=64, bias=True)
  (layer_3): Linear(in_features=64, out_features=64, bias=True)
  (layer_out): Linear(in_features=64, out_features=1, bias=True)
  (relu): ReLU()
  (dropout): Dropout(p=0.1, inplace=False)
  (batchnorm1): BatchNorm1d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm2): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (batchnorm3): BatchNorm1d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
)

In [ ]:
def binary_acc(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)
    
    return acc

In [ ]:
EPOCHS = 50
model.train()
for e in range(1, EPOCHS+1):
    epoch_loss = 0
    epoch_acc = 0
    for X_batch, y_batch in train_loader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)
        optimizer.zero_grad()
        if X_batch.shape[0]<=1 :continue
        y_pred = model(X_batch)
        
        loss = criterion(y_pred, y_batch.unsqueeze(1))
        acc = binary_acc(y_pred, y_batch.unsqueeze(1))
        
        loss.backward()
        optimizer.step()
        
        epoch_loss += loss.item()
        epoch_acc += acc.item()
        

    print(f'Epoch {e+0:03}: | Loss: {epoch_loss/len(train_loader):.5f} |\
    Acc: {epoch_acc/len(train_loader):.3f}')

Epoch 001: | Loss: 0.51347 |    Acc: 77.854
Epoch 002: | Loss: 0.45407 |    Acc: 80.722
Epoch 003: | Loss: 0.44812 |    Acc: 81.097
Epoch 004: | Loss: 0.44513 |    Acc: 81.264
Epoch 005: | Loss: 0.44381 |    Acc: 81.261
Epoch 006: | Loss: 0.44249 |    Acc: 81.356
Epoch 007: | Loss: 0.44211 |    Acc: 81.364
Epoch 008: | Loss: 0.44002 |    Acc: 81.456
Epoch 009: | Loss: 0.43834 |    Acc: 81.523
Epoch 010: | Loss: 0.43641 |    Acc: 81.574
Epoch 011: | Loss: 0.43746 |    Acc: 81.582
Epoch 012: | Loss: 0.43678 |    Acc: 81.526
Epoch 013: | Loss: 0.43464 |    Acc: 81.717
Epoch 014: | Loss: 0.43453 |    Acc: 81.590
Epoch 015: | Loss: 0.43289 |    Acc: 81.636
Epoch 016: | Loss: 0.43211 |    Acc: 81.631
Epoch 017: | Loss: 0.43324 |    Acc: 81.693
Epoch 018: | Loss: 0.43277 |    Acc: 81.744
Epoch 019: | Loss: 0.42997 |    Acc: 81.733
Epoch 020: | Loss: 0.43140 |    Acc: 81.588
Epoch 021: | Loss: 0.43031 |    Acc: 81.757
Epoch 022: | Loss: 0.42940 |    Acc: 81.695
Epoch 023: | Loss: 0.42793 |    Acc: 81.639
Epoch 024: | Loss: 0.42832 |    Acc: 81.865
Epoch 025: | Loss: 0.42783 |    Acc: 81.857
Epoch 026: | Loss: 0.42744 |    Acc: 81.930
Epoch 027: | Loss: 0.42691 |    Acc: 81.889
Epoch 028: | Loss: 0.42792 |    Acc: 81.935
Epoch 029: | Loss: 0.42754 |    Acc: 81.984
Epoch 030: | Loss: 0.42617 |    Acc: 82.054
Epoch 031: | Loss: 0.42569 |    Acc: 81.892
Epoch 032: | Loss: 0.42697 |    Acc: 81.911
Epoch 033: | Loss: 0.42475 |    Acc: 82.073
Epoch 034: | Loss: 0.42409 |    Acc: 81.997
Epoch 035: | Loss: 0.42311 |    Acc: 82.129
Epoch 036: | Loss: 0.42376 |    Acc: 82.111
Epoch 037: | Loss: 0.42318 |    Acc: 82.119
Epoch 038: | Loss: 0.42247 |    Acc: 82.057
Epoch 039: | Loss: 0.42180 |    Acc: 82.189
Epoch 040: | Loss: 0.42171 |    Acc: 82.151
Epoch 041: | Loss: 0.42160 |    Acc: 82.062
Epoch 042: | Loss: 0.42063 |    Acc: 82.140
Epoch 043: | Loss: 0.42125 |    Acc: 82.132
Epoch 044: | Loss: 0.42070 |    Acc: 82.135
Epoch 045: | Loss: 0.42063 |    Acc: 82.075
Epoch 046: | Loss: 0.42018 |    Acc: 82.089
Epoch 047: | Loss: 0.41794 |    Acc: 82.164
Epoch 048: | Loss: 0.41688 |    Acc: 82.358
Epoch 049: | Loss: 0.41797 |    Acc: 82.423
Epoch 050: | Loss: 0.41733 |    Acc: 82.369

In [ ]:
y_pred_list = []
model.eval()
with torch.no_grad():
    for X_batch in test_loader:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_test_pred = torch.sigmoid(y_test_pred)
        y_pred_tag = torch.round(y_test_pred)
        y_pred_list.append(y_pred_tag.cpu().numpy())

y_pred_list = [a.squeeze().tolist() for a in y_pred_list]
pred_df = pd.DataFrame()
pred_df['NN'] = y_pred_list

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred_list))

              precision    recall  f1-score   support

         0.0       0.85      0.95      0.89      4654
         1.0       0.65      0.37      0.47      1266

    accuracy                           0.82      5920
   macro avg       0.75      0.66      0.68      5920
weighted avg       0.80      0.82      0.80      5920